.searchForm {
  display: flex;
}
.input {
  margin-right: 20px;
  width: 300px;
  border-radius: 4px;
  border: 1px solid #865d30;
  color: #000;
  padding: 8px 5px;
  background: none;
}
.input:focus,
.input:hover {
  outline: none;
  border: 2px solid #865d30;
  padding: 7px 4px;
}
.searchBtn {
  width: 200px;
  color: #fff;
  background: #0a236a;
  border: 2px solid transparent;
  border-radius: 4px;
  padding: 8px 15px;
  cursor: pointer;
  transition: background-color 250ms, opacity 250ms;
}
.searchBtn:hover {
  background: none;
  border: 2px solid #865d30;
  color: #865d30;
}

.searchBtn:focus {
  outline: none;
}
